<h1>Edit your thing to rent here</h1>

<% @listings.each do |listing| %>
    <p><%= listing.title %></p>
    <p><%= listing.description %></p>
    <p><%= listing.condition %></p>
    p><%= listing.from %></p>
    <p><%= listing.to %></p>
    <p><%= listing.delivery %></p>
    <p><%= listing.rental_period %></p>
    <%= link_to "edit", edit_listing_path(listing.id) %>
    <%= link_to "show", listing_path(listing.id) %>
<% end %>
<%= render "form", listing: @listing %>